# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# General logs and files
*.log

# Image formats
*.raw
*.pgm
*.pgm
*.svg

# Predictions
*.npy

# Visual Studio Code
.vscode/

# Caches
*adaround_cache*
